* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}


/*  Header  */
header {
  height: 120px;
  justify-content: space-between;
}


header img {
  height: 80px;
  margin: 20px 0;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
}


header ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 15px;
}

header ul li a:hover {
  color: #0C7CEC;

}


/*   Main   */

main {
  padding: 50px;
}

main .f-card {
  margin-bottom: 50px;
}

main .cutter {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}

main .card-title {
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
}

main img {
  max-width: 200px;
}

/*  Footer  */
footer {
  height: 160px;
  background-color: #0282f9;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

#footer-top img {
  height: 45px;
  max-width: 50px;
  margin: 10px;
}

#footer-top {
  height: 100%;
  align-content: center;
  position: relative;
  z-index: 200;

}

/*Footer Menus*/

#FooterMenus {
  background-image: url(./assets/img/footer-bg.jpg);
  height: 370px;
  position: relative;
  color: white;
}

#FooterMenus .row {
  padding: 40px 0;
  width: 40%;
}

#FooterMenus ul {

  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-weight: 100;
  font-size: 13px;
}

#FooterMenus .container {
  position: relative;
}

#logoImg {
  position: absolute;
  top: -100px;
  right: 0;
  z-index: 1;
}

#logoImg img {
  height: 560px;
}

/*FooterBottom*/

#FooterBottom {
  background-color: #303030;
  position: relative;
  z-index: 10;
  height: 120px;

}

#FooterBottom .container {
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
}

#FooterBottom button {
  padding: 8px 16px;
  background-color: #303030;
  border-color: #0282f9;
  color: white;
}

#FooterBottom ul {
  list-style: none;
  display: flex;
  align-items: center;
}


#FooterBottom ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
}